In [1]:
import pandas as pd
import pymysql, os, json
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",pw="Shekhar.mysql.467",db='Happy_Feet_Family'))
con = pymysql.connect(host = 'localhost',user = 'root',passwd = 'Shekhar.mysql.467',db = 'Happy_Feet_Family')
cursor = con.cursor()

In [3]:
x='avinash_activities__5069026274'
with open('avinash_activities__5069026274.json','r') as f:
    data=json.load(f)
idvalue=data["id"]
def table(x):
    df=pd.json_normalize(data,['splits_metric'])
    cursor.execute(f'DROP TABLE IF EXISTS {x};')
    query=f"CREATE TABLE {x} (S_No int);"
    cursor.execute(query)
    def creating_table(impdata):
        for cname,ctype in impdata.dtypes.items():
            cursor.execute(f'ALTER TABLE {x} ADD {cname} DECIMAL(65,10);')
        cursor.execute(f'ALTER TABLE {x} DROP S_No;')
    creating_table(df)
    df.to_sql(f'{x}', con = engine, if_exists = 'append',index=False ,chunksize = 1000)
    con.commit()

## splits_matric

In [4]:
x=f"{idvalue}_splits_metric"
table(x)

## splits_standard

In [5]:
x=f"{idvalue}_splits_standard"
table(x)

## laps

In [6]:
x=f"{idvalue}_laps"
table(x)

## best_efforts

In [7]:

x=f"{idvalue}_best_efforts"
table(x)

In [9]:
c=data['calories']
print(f"calories burn per day= {c}")

calories burn per day= 551