In [1]:
import pandas as pd
import pymysql, os, json
from sqlalchemy import create_engine

In [2]:

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root",pw="Shekhar.mysql.467",db='Happy_Feet_Family'))
con = pymysql.connect(host = 'localhost',user = 'root',passwd = 'Shekhar.mysql.467',db = 'Happy_Feet_Family')
cursor = con.cursor()

In [6]:
def dataload(x):
    df=pd.read_json(f'{x}.json')
    df.to_csv(f'{x}.csv',index=None)
    impdata=pd.read_csv(f'{x}.csv')
    #print(impdata.dtypes)


    cursor.execute(f'DROP TABLE IF EXISTS {x};')
    query=f"CREATE TABLE {x} (S_No int);"
    q1="show tables;"
    cursor.execute(query)

    def creating_table(impdata):
        for cname,ctype in impdata.dtypes.items():
            if ctype=='int64':
                cursor.execute(f'ALTER TABLE {x} ADD {cname} int;')
            elif ctype=='float64':
                cursor.execute(f'ALTER TABLE {x} ADD {cname} DECIMAL(65,10);')
            elif ctype=='bool':
                cursor.execute(f'ALTER TABLE {x} ADD {cname} BOOL;')
            elif ctype=='object':
                cursor.execute(f'ALTER TABLE {x} ADD {cname} VARCHAR(100);')
        cursor.execute(f'ALTER TABLE {x} DROP S_No;')
        cursor.execute(f'ALTER TABLE {x} MODIFY COLUMN id VARCHAR(100);')
        cursor.execute(f'ALTER TABLE {x} MODIFY COLUMN upload_id_str VARCHAR(100);')
        cursor.execute(f'ALTER TABLE {x} MODIFY COLUMN upload_id VARCHAR(100);')
        cursor.execute(f'ALTER TABLE {x} MODIFY COLUMN map VARCHAR(10000);')


    creating_table(impdata)
    data=pd.read_csv(f'{x}.csv')

    data.to_sql(f'{x}', con = engine, if_exists = 'append',index=False ,chunksize = 1000)

    con.commit()

In [7]:
x='avinash_activities_12_2020'
dataload(x)

In [4]:
query=f"SELECT sum(distance) FROM {x} WHERE type='Run'"
pd.read_sql_query(query,con)
cursor.execute(query)
distance=cursor.fetchone()

In [17]:
query=f"select name, sum(distance)/sum(moving_time) as average_pace from {x} group by name;"
print(pd.read_sql_query(query,con))

           name  average_pace
0     Night Run      1.299253
1   Evening Run      1.201445
2   Morning Run      1.438153
3    Lunch Walk      1.167002
4  Morning Walk      0.781954

In [16]:
query=f"select name, max(distance) as longest_run from {x} where type='Run' group by name;"
print(pd.read_sql_query(query,con))

          name  longest_run
0    Night Run       4543.5
1  Evening Run       4254.3
2  Morning Run       6114.8

In [18]:
query=f"select name, max(distance) as longest_run from {x} where type='Walk' group by name;"
print(pd.read_sql_query(query,con))

           name  longest_run
0    Lunch Walk        580.0
1  Morning Walk       1064.8

In [23]:
query=f"select name, max(average_speed) as max_pace from {x} group by name;"
print(pd.read_sql_query(query,con))

           name  max_pace
0     Night Run     1.639
1   Evening Run     1.434
2   Morning Run     2.372
3    Lunch Walk     1.167
4  Morning Walk     0.959

In [24]:
query=f"select name,max(moving_time) as longest_streak from {x} group by name;"
print(pd.read_sql_query(query,con))

           name  longest_streak
0     Night Run            3756
1   Evening Run            3907
2   Morning Run            4396
3    Lunch Walk             497
4  Morning Walk            1381